# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Linux
*.swp

# Windows
Thumbs.db
Desktop.ini

# Editor-specific
.vscode/
.idea/

# Virtual environments
venv/
env/

/client/test.py
/client/connect/chuankou.py
/client/connect/test.py
